.heroes {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
    transition: all 0.2s ease;
  }
  
  .heroes li .badge {
    display: inline-block;
    font-size: small;
    background-color: #444;
    color: white;
    width: 20px;
    text-align: center;
    margin-right: 8px;
  }
  
  .heroes li.selected {
    background-color: #cfd8dc;
    color: white;
  }
  